html {
    box-sizing: border-box;
    display:block;
}

*, 
*:before, 
*:After{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

select{
    text-align: center;
}

.filters{
    display: block;
    padding: 10px;
    margin: 20px;
    border: 10px ridge rgba(50, 172, 220, 0.377);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: antiquewhite;
    text-align: center;
}

.dropdown{
    display:inline-block;
    margin: 0px 10px 0px 10px;
}

body{
    background-color: rgb(227, 249, 250);
}

h1{
    text-align: center;
    font-size: 3rem;
}

.recipe{
    display:block;
    width: 90vw;
    height: 67vw;
    border: 2px solid rgba(17, 82, 107, 0.377);
    border-radius: 10px;
    margin: 1vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}