html {
    box-sizing: border-box;
    display:block;
}

*, 
*:before, 
*:After{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

select{
    text-align: center;
    border-radius: 0.3rem;
}

.filters{
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    border: 0.5rem ridge rgba(50, 172, 220, 0.377);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: antiquewhite;
    text-align: center;
}

.dropdown{
    display:inline-block;
    margin: 0 0.5rem;
}

body{
    background-color: rgb(227, 249, 250);
}

h1{
    text-align: center;
    font-size: 2rem;
}

.recipesContainer{
    display:block;
    margin: 1rem;
}
.recipe{
    display:block;
    height: 100vh;
    border: 2px solid rgba(17, 82, 107, 0.377);
    border-radius: 1rem;
    margin: 1rem 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}